In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('LLM+Answer+Evaluation_6+September+2024_00.43.tsv', sep='\t', encoding='utf-16')

In [6]:
df

,startDate,endDate,status,ipAddress,progress,duration,finished,recordedDate,_recordId,recipientLastName,...,QID698_3,QID698_4,QID699_1,QID699_2,QID699_3,QID699_4,QID700_1,QID700_2,QID700_3,QID700_4
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,7909f2b2-b40c-4cd9-a42f-487a87c44903_3 - Candi...,7909f2b2-b40c-4cd9-a42f-487a87c44903_4 - Candi...,a9fc6500-221b-4279-9071-f3abfeaf078d_1 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_2 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_3 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_4 - Maris...,b1312683-1404-434e-b3a2-73248060fd79_1 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_2 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_3 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_4 - Kyle ...
1,2024-09-06 00:40:37,2024-09-06 00:40:40,2,NaN,100,3,1,2024-09-06 00:40:41,R_1ZgM6SXYVyZaPJQ,NaN,...,4,2,4,3,1,1,5,3,2,4
2,2024-09-06 00:40:41,2024-09-06 00:40:43,2,NaN,100,2,1,2024-09-06 00:40:43,R_0oHlyGCjBqcBkNw,NaN,...,1,1,2,2,5,3,2,1,3,5
3,2024-09-06 00:40:43,2024-09-06 00:40:46,2,NaN,100,3,1,2024-09-06 00:40:46,R_71KmxmeXlhtICrQ,NaN,...,4,3,2,4,5,1,1,3,1,2
4,2024-09-06 00:40:46,2024-09-06 00:40:49,2,NaN,100,3,1,2024-09-06 00:40:49,R_e54vUbVWPKakPrg,NaN,...,5,4,4,3,1,4,5,5,3,1
5,2024-09-06 00:40:49,2024-09-06 00:40:51,2,NaN,100,2,1,2024-09-06 00:40:51,R_db4K9C6VcPWMDv8,NaN,...,5,1,4,4,2,2,5,4,2,3

In [7]:
# get columns that start with 'QID'
df = df[df.columns[pd.Series(df.columns).str.startswith('QID')]]

In [8]:
df

,QID801_1,QID801_2,QID801_3,QID801_4,QID802_1,QID802_2,QID802_3,QID802_4,QID803_1,QID803_2,...,QID698_3,QID698_4,QID699_1,QID699_2,QID699_3,QID699_4,QID700_1,QID700_2,QID700_3,QID700_4
0,920a71b6-17ff-49c3-9db3-0dc8cc43e910_1 - To sh...,920a71b6-17ff-49c3-9db3-0dc8cc43e910_2 - To sh...,920a71b6-17ff-49c3-9db3-0dc8cc43e910_3 - To sh...,920a71b6-17ff-49c3-9db3-0dc8cc43e910_4 - To sh...,f1760056-616a-4a33-9ed1-938611eaa860_1 - In Ch...,f1760056-616a-4a33-9ed1-938611eaa860_2 - In Ch...,f1760056-616a-4a33-9ed1-938611eaa860_3 - In Ch...,f1760056-616a-4a33-9ed1-938611eaa860_4 - In Ch...,ff3e8fd7-6cd0-40c4-b5b1-92f8dff6aa0b_1 - Georg...,ff3e8fd7-6cd0-40c4-b5b1-92f8dff6aa0b_2 - Georg...,...,7909f2b2-b40c-4cd9-a42f-487a87c44903_3 - Candi...,7909f2b2-b40c-4cd9-a42f-487a87c44903_4 - Candi...,a9fc6500-221b-4279-9071-f3abfeaf078d_1 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_2 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_3 - Maris...,a9fc6500-221b-4279-9071-f3abfeaf078d_4 - Maris...,b1312683-1404-434e-b3a2-73248060fd79_1 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_2 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_3 - Kyle ...,b1312683-1404-434e-b3a2-73248060fd79_4 - Kyle ...
1,4,1,5,1,5,2,2,5,5,3,...,4,2,4,3,1,1,5,3,2,4
2,1,5,3,5,1,1,3,5,5,4,...,1,1,2,2,5,3,2,1,3,5
3,2,3,3,4,3,3,2,2,1,4,...,4,3,2,4,5,1,1,3,1,2
4,2,2,3,4,1,5,4,1,3,1,...,5,4,4,3,1,4,5,5,3,1
5,1,2,5,3,4,4,5,3,3,5,...,5,1,4,4,2,2,5,4,2,3